<ion-tabs>

  <ion-tab-bar *ngIf="usrType == 'manager'; else elseBlock"  slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ng-template #elseBlock>
    <ion-tab-bar slot="bottom" color="primary">
      
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="timeTable">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Time Table</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ng-template>


</ion-tabs>