<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome {{disp.name}} !
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{disp.email}}
      </ion-col>
    </ion-row>
  </ion-grid>  

<div *ngIf="disp.userType == 'employee' ;else manager">
  <h2 class="padding" style="padding: 0 20px;margin: 0;">My Tasks List</h2>
  <ion-card *ngFor="let task of tasks">
    <ion-card-header>
      <ion-card-subtitle>{{task.startDayDisp}} - {{task.endDayDisp}}</ion-card-subtitle>
      <ion-card-title>{{task.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{task.desc}}
    </ion-card-content>
  </ion-card>
</div>

<ng-template #manager>
  <h2 class="padding" style="padding: 0 20px;margin: 0;">Tasks Created By Me</h2>
  <ion-card *ngFor="let task of tasksManager">
    <ion-card-header>
      <ion-card-subtitle>{{task.startDayDisp}} - {{task.endDayDisp}}</ion-card-subtitle>
      <ion-card-title>{{task.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{task.desc}}
    </ion-card-content>
  </ion-card>

</ng-template>

  

  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>