.contentBox{
    .formContentBox{
        background: white;
        margin:20px;
        box-shadow: 1px 2px 17px -5px #000;
        ion-img.logoImg{
            width: 40%;
            margin: 0 auto;
        }

    .go-to-login{
        padding:10px;
    }
       
    }
}